body{
    font-family: 'Quicksand', sans-serif;
    color: #2d3c49;
    font-weight: 400;
}

hr{
    width: 100%; color: #7d97ad; height: 3px; background-color:#7d97ad;"
}
.logo{
    width: 15%;
    margin-top: 20px;
}
.main-image{
    margin-top: 10px;
    margin-bottom: 10px;
}

.session{
    color: #7d97ad;
    font-weight: 400;
}
.text-thin{
    font-weight: 300;
    font-size: 60px;
}
.session{
    margin-left: 5px;
}